@model SecurityGuard.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Reset Your Password";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/signin.css?v=2")">

<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="box_login">
    <div class="container">
        <div class="span12 box_wrapper">
            <div class="span12 box">
                <div>
                    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Any())
                    {
                        <div class="head">
                            <h4>Invalid Link</h4>
                        </div>
                        <div class="form">
                            <h4>Sorry, this link is invalid or expired</h4>
                        </div>
                    }
                    else
                    {
                        <div class="head">
                            <h4>Please choose your new password</h4>
                        </div>
                        <div class="form">
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

                                @Html.LabelFor(m => m.NewPassword, new { @class = "legend-label" })
                                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.NewPassword)

                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "legend-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)

                                @Html.HiddenFor(m => m.PasswordResetToken)

                                <p>
                                    <input type="submit" value="Change Password" />
                                </p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
