@model ReminderHero.Web.Controllers.ContactViewModel

<p>Name: @Model.Name</p>
<p>Phone: @Model.Phone</p>
<p>Company: @Model.Company</p>
<p>Email: @Model.Email</p>

<p>
    Message:<br />
    @Model.Message
</p>